Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteCond %{REQUEST_URI} \.mp4$ [NC]
    RewriteCond %{QUERY_STRING} !(^|&)v=[A-Za-z0-9_-]{6,20}(&|$) [NC]
    RewriteRule ^ - [F,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <FilesMatch "\.mp4$">
        Order allow,deny
        Deny from all
        Require all denied
    </FilesMatch>
</IfModule>

